Repository antonkurenkov/hub-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/example, area/housekeeping, area/hub, area/cicd, component/executor, component/encoder, component/indexer, component/ranker, component/crafter

changed build reason logic setting
  builder/modules/build.py
Labels: area/cicd

debug: excluded status branch checkout stage
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: add __init__.py to builder folder
  builder/__init__.py
Labels: area/cicd

debug: change app.py location
  app.py
Labels: none

debug: change ci.yml due to app relocation
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: change flag in CD step
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: add database credentials to CD
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: add database credentials to CD
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: put database credentials to env
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: put database credentials to env
  .github/workflows/cd.yml
  builder/modules/load.py
Labels: area/housekeeping, area/cicd

debug: return status repo check afted secrets be added
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: add database credentials for build-update step
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: change password to token in docker hub credentials
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: added exit(1) on empty target list for cd pipeline
  app.py
  builder/modules/build.py
Labels: area/cicd

debug: fix exit(1) on --check-targets flag
  builder/modules/build.py
Labels: area/cicd

connect hub repo to cd pipeline
  .github/workflows/cd.yml
  builder/modules/build.py
Labels: area/housekeeping, area/cicd

fix indent typo in yml
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix typo in repo dir
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: unplugged status and hub repos checkout
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

debug: add hub repo
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix --check-targets flag logic
  builder/modules/build.py
Labels: area/cicd

debug: unplugged status repo checkout in cd build-update step
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

add hub repo checkout to cd step build-update
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

change DOCKERHUB_DEVBOT_PWD to DOCKERHUB_DEVBOT TOKEN, add test hub folder for push
  .github/workflows/cd.yml
  builder/modules/build.py
  builder/modules/load.py
Labels: area/housekeeping, area/cicd

change hub_files location
  builder/modules/load.py
Labels: area/cicd

change hub_files location
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

change hub_files location
  .github/workflows/cd.yml
  builder/modules/load.py
Labels: area/housekeeping, area/cicd

add build history expose on api/hub/build.json
  .github/workflows/cd.yml
  builder/modules/build.py
  builder/modules/load.py
Labels: area/housekeeping, area/cicd

fix indent typo
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix indent typo
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

change build-update cd stage
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

chore(docs): update TOC
  README.md
Labels: area/docs

add push to api repo from cd stage
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix push to api and hub repo from cd stage
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix indent typo
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

fix directory typo
  .github/workflows/cd.yml
Labels: area/housekeeping, area/cicd

add folders ignore when building paths
  .gitignore
  builder/modules/load.py
Labels: area/housekeeping, area/cicd

fix readme update in status repo
  builder/modules/build.py
Labels: area/cicd

check cd build with empty history
  builder/modules/load.py
Labels: area/cicd

fix image mapping; remove --push flag from cd stage
  .github/workflows/cd.yml
  builder/modules/build.py
Labels: area/housekeeping, area/cicd

.github/labeler.yml:

# Add 'label1' to any changes within 'examples' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/example:
  - hub/examples/**/*

area/housekeeping:
  - .github/**/*
  - ./.gitignore

area/hub:
  - hub/**/*

area/cicd:
  - .github/workflows/**/*
  - builder/**/*

component/executor:
  - hub/executors/**/*

component/encoder:
  - hub/executors/encoders/**/*

component/indexer:
  - hub/executors/indexers/**/*

component/ranker:
  - hub/executors/rankers/**/*

component/crafter:
  - hub/executors/crafter/**/*
